.fulllogo{
    margin: 100px;
    text-align: center; 
    width:30%; 
    display:inline-block;
}

.logotxt > p{
    font-family: serif; color:darkblue; font-size: 100%;
    font-weight: 900;
    margin: 3px 0;
    font-style: italic;
}

.logotxt > #logo{
    font-family: monospace;
    font-variant: small-caps;
    font-size: 400%;
    color: rgb(90, 124, 226);
    font-style: italic;
    font-weight: bolder;
    margin: 15px 0 5px 0 ;
}

.fullbox{
    border: 1px darkblue solid;
    border-radius: 15px;
    background-image: url(logbox.jpg);
    background-size: cover;
    width: 35%;
    display:inline-block;
    position: relative;
    left: 15%;
    margin-top: 10%;
    vertical-align: top;
}

#switchbar{
    text-align: center;
    font-size: 130%; 
    border-bottom: 1px solid darkblue; 
    border-radius: 15px;
    margin-bottom: 10px; 
    color: royalblue;
    font-weight: bolder;
    font-family: serif; 
    font-variant: small-caps; 
    background-color: rgba(230, 230, 230,0.8);  
}

#switchbar > div{
    width: 50%;
    display: inline-block;
}

#switchbar p{
  margin: 10px 0;
}

form{
    width: 100%;
    padding: 0 10%;
}

form > p{
    float: left;
    margin: 15px 0;
    clear: left;
    height: 20px;
    color: midnightblue;
    font-weight: bolder;
    
}

form > input{
    float: right;
    margin: 15px 0;
    clear: right;
    height: 20px;
    width: 50%;
}

input{
    border: midnightblue 1px solid;
    border-radius: 5px;
    text-align: center;
}

input.next{
    width: 30%; height: 25px; margin-right: 10%;
    border-radius: 7px;
    background-color: rgba(202, 201, 201, 0.6);
    font-weight: bolder;
    font-family: sans-serif;
    border: royalblue 1px solid;
}


/**/



body{
    margin: 0;
}

body::before {
  content: "";
  background-image: url(background.jpg);
  opacity: 0.5;
  top: 0;   
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background-size: cover;
}

* {
box-sizing:border-box;
}