#nav{
    border-bottom: black 1px solid;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(rgb(93, 0, 160),indigo);
}
#navbuttons{
float: right;
}
#navbuttons button{
    border: 0px;
    width:30px;
    height:30px;
    border-radius: 15px;
    margin: 5px 15px;
    padding: 0;
    background-color: transparent;
}
#navbuttons a{
    padding: 0;
    border-radius: inherit;
}
#navbuttons img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
/************************************/
#NCP {
    height: 380px;
    background-color:transparent;
    border-bottom: black 1px solid;
}
#cover{
    border-bottom: black 1px solid;
    height: 85%;
    background-color: transparent;
}
#cover > img{
    height: 100%;
    width: 75%;
    margin:0 12%;
}

#cover button{
    border: 1px darkgray solid;
    border-radius: 10px;
    position: absolute;
    right: 14%;
    top: 60px;
    width: 25px;
    height: 25px;
    padding: 0px;
}

#cover button img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


#PNB{
    position: relative;
    bottom: 130px;
    width: 100%;
}
#pp{
    border: black 3px solid;
    border-radius: 20px;
    height: 180px;
    width: 180px;
    display: inherit;
}
#PNB button{
    border: 1px darkgray solid;
    position: relative;
    right: 35px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 0px;
    display: inherit;
}
#PNB button img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
#PNB p{
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    display: inherit;
    margin: 0;
    position: relative;
    bottom: 12px;
}





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: snow;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 2px solid orange;
    width: 30%; /* Could be more or less, depending on screen size */
    height:100px;
    text-align: center;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: darkred;
    float: right;
    position: relative;
    bottom: 15px;
    left: 10px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/************************************/
button:hover{
    cursor: pointer;
}
button:focus{
    outline: 0;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}