@import "http://localhost/social-media-platform-web/assets/common.css";
#NCP {
    height: 350px;
    background-color:transparent;
    border-bottom: black 1px solid;
}
#cover{
    border-bottom: black 1px solid;
    height: 88%;
    background-color: transparent;
}
#cover > img{
    height: 100%;
    width: 75%;
    margin:0 12%;
}
#cover button{
    border: 1px darkgray solid;
    border-radius: 10px;
    position: absolute;
    right: 14%;
    top: 60px;
    width: 25px;
    height: 25px;
    padding: 0px;
}
#cover button img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
#PNB{
    position: relative;
    bottom: 135px;
    width: 100%;    
}
#pp{
    border: gray 2px solid;
    border-radius: 30px;
    height: 170px;
    width: 170px;
    display: inherit;
    vertical-align: bottom;
}
#ppBtn{
    border: 1px darkgray solid;
    position: relative;
    right: 35px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 0px;
    display: inherit;
}
#ppBtn img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
#PNB p{
    font-size: 25px;
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
    color: rgb(60, 0, 50);
    display: inherit;
    margin: 0;
}
#buttons{
    display: inline-block; 
    margin: 0 10% 0 40%; 
    vertical-align:bottom;
}
#buttons input{
    border-radius: 10px;
    color: white;
    background-color:rgb(115, 0, 195);
    border: 0;
    padding: 3px 10px;
    font-style: italic;
    cursor:pointer;
    margin-right: 10px;
    font-weight: bolder;
}
#buttons input:focus{
    outline: none;
}
/*haidi*/
.datablock{
    border: indigo 2px solid;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 0 0 20px 0;;
}
.datablock > img{
 width: 10%;
 height: 30px;
 vertical-align: middle;
 margin: 5px 0 0 10px;
}
.datablock > p{
    font-size: 18px;
    font-weight: bolder;
    font-family: serif;
    color: grey;
    margin: 0 10px;
    position: relative;
    top: 5px;
    display:inline-block;
}
.datablock > button{
    border: 0;
    float:right;
    margin: 15px 15px 5px 15px;
    color: indigo;
    background-color: transparent;
    font-weight: bold; 
    font-size: 15px;
}
.dataunit{
    display:inline-block;
    text-align:center;
    margin: 1% 1% 1% 1%;
    width: 30%;
}
.dataunit > img{
    width: 100%;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
}
.dataunit > a{
    color:black;
    font-weight: bold;
    font-style: italic;
    text-decoration-line: none;
}
#user_info div > p{
 font-weight: bolder;
 color: black;
 font-size: 14px;
}
#user_info samp{
    color:indigo;
    font-weight: bolder;
    font-size: 115%;
    font-style: italic;
}
#market{
    width: 40%;
    text-align: center;
}
#market img{
    width: 90%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 5px solid indigo;
    width: 30%; /* Could be more or less, depending on screen size */
    height:100px;
    text-align: center;
    border-radius: 10px;
}
.modal-mp-content {
    background-color: white;
    margin: 50px 10px 0 10%; /* 15% from the top and centered */
    padding: 5px;
    border: 4px solid indigo;
    width: 50%; /* Could be more or less, depending on screen size */
    height:90%;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
}
.modal-mp-content > div {
    width: 45%;
    margin: 5px;
    padding: 10px;
    height: 210px;
    border: 3px indigo solid;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    
}
.modal-mp-content > div img {
    width: 40%;
    height: 130px;
    vertical-align: top;
    display: inline-block;
}

.modal-mp-content  .body{
    width: 60%;
    height: 130px;
    padding: 10px;
    border-left: indigo 1px solid;
    overflow-x: hidden;
    word-wrap: break-word;
    display: inline-block;
}


.modal-ma-content {
    background-color: white;
    margin: 5% 10px; /* 15% from the top and centered */
    padding: 5px;
    border: 3px solid yellow;
    width: 20%; /* Could be more or less, depending on screen size */
    height:60%;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
/* The Close Button */
.close {
    color: red;
    float: right;
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 40px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}