.fulllogo{
    margin: 100px;
    text-align: center; 
    width:30%; 
    display:inline-block;
}

.logotxt > p{
    font-family: serif; color:darkblue; font-size: 100%;
    font-weight: 900;
    margin: 3px 0;
    font-style: italic;
}

.logotxt > #logo{
    font-family: monospace;
    font-variant: small-caps;
    font-size: 400%;
    color: rgb(90, 124, 226);
    font-style: italic;
    font-weight: bolder;
    margin: 15px 0 5px 0 ;
}

.fullbox{
    border: 1px darkblue solid;
    border-radius: 15px;
    background-image: url(../assets/img/logbox.jpg);
    background-size: cover;
    width: 30%;
    display:inline-block;
    position: relative;
    left: 20%;
    margin-top: 10%;
    vertical-align: top;
}

#switchbar{
    text-align: center;
    font-size: 130%; 
    border-bottom: 1px solid darkblue; 
    border-radius: 15px;
    color: royalblue;
    font-weight: bolder;
    font-family: serif; 
    font-variant: small-caps; 
    background-color: rgba(230, 230, 230,0.8);  
}

#switchbar > div{
    width: 50%;
    display: inline-block;
}

#switchbar p{
  margin: 10px 0;
  cursor: pointer;
}

form{
    width: 100%;
    padding: 0 10%;
}

form > p{
    float: left;
    margin: 15px 0;
    clear: left;
    height: 20px;
    color: midnightblue;
    font-weight: bolder;
    
}

form > input{
    float: right;
    margin: 15px 0;
    clear: right;
    height: 20px;
    width: 50%;
}

input{
    border: royalblue 1px solid;
    border-radius: 5px;
    text-align: center;
}

input.next{
    width: 30%; height: 25px; margin-right: 10%;
    border-radius: 7px;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: rgba(95, 129, 231, 0.137);
    border: rgb(65, 105, 225) 1px solid;
    background-color: gainsboro;
}

input:focus{
    outline: 0;
    background-color: rgba(95, 129, 231, 0.137);
}
input.next:focus{
    background-color:rgba(65, 105, 225, 0.274);;
}
input:hover{
    border: 2px blue solid;
}
#sreg:hover , #slogin:hover {
    color: blue;
    text-shadow: 1px 1px 7px royalblue ;
}

/**/

body{
    margin: 0;
}

body::before {
  content: "";
  background-image: url(../assets/img/background.jpg);
  opacity: 0.5;
  top: 0;   
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background-size: cover;
}

* {
box-sizing:border-box;
}