
@import "http://localhost/social-media-platform-web/assets/common.css";
.wrapper{
	margin-left: 480px;
	top: 10px;
	position: 0 10px;
	width:50%;
	min-width: 950;
}
.column
{
	margin-left: -10px;
	margin-right: 210px;
	padding: 10px;
	background-color: white;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	line-height: 28px;

}
.header
{
	margin-left: -20px;
	padding: 10px;
}
label{
	width: 240px;
	display: inline-block;
}
.submission
{
	margin-top: 15px;
}
input[type="checkbox"]
{
	position: relative;
	width: 40px;
	height: 20px;
	-webkit-appearance:none;
	background:#c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	transition: .5s;
	margin-bottom: -3px;
}
input:checked[type="checkbox"]
{
	background:#50008A;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;
	width: 20px;
	height:20px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background:#fff;
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transform:scale(1.1);
}
input:checked[type="checkbox"]:before
{
	left: 20px;
}

