#nav{
    border-bottom: black 1px solid;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(rgb(93, 0, 160),indigo);
}
#navbuttons{
float: right;
}
#navbuttons button{
    border: 0px;
    width:30px;
    height:30px;
    border-radius: 15px;
    margin: 5px 15px;
    padding: 0;
    background-color: transparent;
}
#navbuttons a{
    padding: 0;
    border-radius: inherit;
    text-decoration: none;
}
#navbuttons img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
#navbuttons ul{
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    width: fit-content;
    position: absolute;
    right: 3px;
    top: 45px;
}
#navbuttons li{
    text-align: center;
    margin: 5px 0;
    padding: 0 5px;
    border: indigo 2px solid;
    color: black;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
    background-color: whitesmoke;
}
#noti{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    top: 47px;
    border: 3px indigo solid;
    border-radius: 10px;
    width: 20%;
    height: 405px;
    background-image: url(http://localhost/social-media-platform-web/assets/img/noti_bg.jpg);
    background-size: cover;
}
#noti > div{
    padding: 5px;
    margin: 0;
    border-bottom: 2px indigo solid;
    width: 100%;
    height: 50px;
}
#noti > div img{
    border-radius: 5px;
    width: 38px;
    height: 38px;
    display: inline-block;
    vertical-align: bottom;
}
#noti > div p{
    display: inline-block;
    margin: 0 0 0 3px;
    padding: 5px 0;
    font-size: 13px;
    font-family: san-serif;
    font-style: italic;
    color: black;
    font-weight: bolder;
}
#noti > div samp{
    position: absolute;
    right: 15px;
    margin: 0px 5px;
    font-size: 12px;
    font-family: serif;
    color: blue;
    font-weight: bolder;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: 0;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    background-image: url(http://localhost/social-media-platform-web/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}