@import "http://localhost/social-media-platform-web/assets/common.css";

body{
    overflow-y: auto;
}

#newsfeed{
    width: 40%;
    margin: 0 0 0 20%;
    display: inline-block;
}
.post{
    margin: 30px auto;
    width: 90%;
    border: 3px rgb(85, 10, 155) solid;
    border-radius: 20px;
    background-color:rgb(85, 0, 150) ;
}
.post > img{
    width: 7%;
    height: 38px;
    margin: 4px 10px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid ghostwhite;
}
.post > p{
    margin: 10px 0;
    display: inline-block;
    color: whitesmoke;
    font-weight: bold;
}
.post > samp{
    float: right;
    margin: 10px 10px 0 10px;
    padding:2px 0;
    text-align: center;
    width: 24%;
    color: rgb(95, 95, 255);
    background-color: rgba(255, 255, 255, 0.9);
    border:1px solid black;
    border-radius: 20px 0px 20px 0px;
    font-weight: bolder;
}
.post > hr{
    margin: 0;
    padding: 0;
}
.post > .body{
    width: 88%;
    margin: 10px 0 10px 2%;
    padding: 10px;
    border: 2px indigo solid;
    border-radius: 10px;
    height: 200px;
    font-size: 150%;
    background-color:rgba(255, 255, 255, 0.9);
    text-align: left;
    display: inline-block;
    color: black;
}
.post > .toolbar{
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
    width: 8%;
    vertical-align: top;
    display: inline-block;
    background-color: transparent;
}
.toolbar > button{
    width: 80%;
    margin: 0 10%;
    height: 15%;
    margin-top: 10px;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.toolbar > p{
    width: 85%;
    height: 14px;
    font-size: 75%;
    margin: 0 auto;
    padding: 0;
    color: blue;
    background-color: whitesmoke;
    border: 1px solid indigo;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}
.toolbar > button img{
    width: 100%;
    height: 100%;
}
/**/
#comments{
    border: 3px indigo solid;
    border-radius: 10px;
    width: 22%;
    height: 75%;
    position: fixed;
    right: 20px;
    top: 60px;
    text-align: center;
    padding: 10px;
    overflow-y: auto;
    display: none;
    background-image: url(../assets/img/comments.jpg);
    background-size: cover;
}
.comment{
    width: 100%;
    height: 95px;
    box-shadow: 2px 2px 2px black;
    border: 2px rgb(100, 100, 100) solid;
    text-align: left;
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
}
.comment > .who{
    width: 30%;
    height: 90px;
    display: inline-block;
    text-align: center;
}
.who > p{
    margin: 0;
    padding: 0;
    font-size: 75%;
}
.who > img{
    width: 50%;
    height: 50px;
    margin: 10px 0 0 0;
    vertical-align: top;
    border-radius: 500px;
}
.comment > textarea{
    margin: 5px 5px;
    height: 80px;
    width: 60%;
    padding: 5px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px rgb(120, 0, 200) solid;
    border-radius: 5px;
}
/**/
#writecomment{
position: fixed;
bottom: 20px;
right: 20px;
width: 22%;
height: 13%;
padding: 5px;
border: 3px indigo solid;
border-radius: 10px;
text-align: left;
background-color: rgb(119, 87, 172);
}
#writecomment img{
    width: 14%;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    border-radius: 500px;
}
#writecommentform{
    display: inline-block;
    width: 82%;
}
#writecommentform textarea{
    display: inline-block;
    height: 80px;
    width: 70%;
    margin: 0 10px;
}
/**/